body {
    background-color: #fafafa;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #c6cdda;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Comfortaa', cursive;
    color: black;
    margin: 0px;
    font-size: 30px;
}

.wrapper {
    position: absolute;
    height: 90%;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
}

.title-butts{
    color: black;
    font-size: 75%
}

#lib-butt {
    padding: 1em;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:visited {
    color: black;
}

#ghost, #writer {
    color: black;
}
#ghost:hover {
    color: #8C7D85;
}
#writer:hover {
    color: #8C7D85;
}

.wrapper-writer1 {
    align-items: center;
    flex-direction: column;
}

.back-button {
    font-family: 'Comfortaa', cursive;
    margin: 20px;
    font-size: 30px;
    width: min-content;
    left: 0;
    position: absolute;
}

.back-button-a {
    margin: 0;
    color: black;
}
.back-button-a:hover {
    text-shadow: rgb(59 75 96) 0px 0px 13px;
}

.send-button {
    font-family: 'Comfortaa', cursive;
    margin: 20px;
    font-size: 30px;
    width: min-content;
    right: 0;
    position: absolute;
}
.send-button-a {
    font-size: 30px;
    background: #fffa66;
    border-radius: 30px;
    padding: .3em;
    display: inline-block;
    user-select: none;
    outline: none;
    transition: 0.2s;
    mix-blend-mode: hard-light;
}
.send-button-a:hover {
    color: #fda921;
}
.send-button-a:active {
    background-color: #efe935;
}

.name-input {
    border: none;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: inherit;
    font-family:inherit;
    font-size: 120%;
    text-align: center;
    caret-color: #3b4b60;
}

.writer-name-input {
    margin: 70px;
}

.name-div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    font-variant: petite-caps;
    text-align: center;
}

.content-writer1-name {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.writer1-title {
    color: wheat;
}

.butt-div {
    background-color: #fafafa;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.butt {
    display: inline-block;
    color: #3b4b60;
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    font-size: larger;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    transition: 0.2s;
    background: #fafafa;
    border-radius: 25px;
    } 
.butt:visited { color: #3b4b60;}
.butt:hover { background: #b0a6ab; }
.butt:active { background: rgb(59, 75, 96, .6); }

.content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 1000px;
}

.text-input {
    border: 0px ;
    box-shadow: 0 0 5px;
    outline: none;
    width: 100%;
    height: 100%;
    font-family:inherit;
    text-align: left;
    caret-color: white;
    color: #3b4b60;
    resize: none;
    border-radius: 15px;
    font-size: 20px;
    padding: 10px 0px 5px 10px;
}

.syn-input-font_size {
    font-size: 18px;
}

.text-input-div {
    height: inherit;
    margin: 10px;
    width: 80%;
}

.syn-input-div {
    width: 20%;
}

.text_name-input {
    caret-color:#627281;
    font-size: xxx-large;
    font-family: 'Amatic SC', cursive;
}

.writer-text_name {
    width: 750px;
}

::placeholder {
    color: #627281;
}

#lib {
    font-size: 110%;
}

#lib-title {
    font-size: 38px;
    background: rgb(250, 250, 250);
    border-radius: 30px;
    padding: 8px;
    border: 6px solid #e4e5ea8c;
}

.lib-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
}

.lib-content_filler {
    content: ' ';
    width: 25%;
    height: 100%;
    background-color: rgb(225, 225, 225, .4);
}
.card {
    width: max-content;
    height: min-content;
    margin: 10px;
    border: 1px solid #c6cdda;
    border-radius: 10px;
    padding: 6px;
}
.card-prop-p{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.story-name-a {
    font-weight: 600;
    color: black;
}
.story-name-a:hover { color: crimson;}

.ghosts-p {
    color: #627281;
}
