body {
    background-color: #627281;
    display: flex;
    flex-direction: column;
    margin: 0;
}
/* header {
    background-color: #BFBDC0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
} */

.wrapper {
    position: absolute;
    height: 90%;
    bottom: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    margin: 50px;
}

.title {
    font-family: 'Amatic SC', cursive;
    font-size: 100px;
}

.title-butts{
    color: black;
}

a:-webkit-any-link {
  text-decoration: none;
}

a:visited {
    color: black;
}

#ghost, #writer {
    color: #FDE2B1;
}
#ghost:hover {
    color: black;
}
#writer:hover {
    color: black;
}

.wrapper-writer1 {
    align-items: center;
    flex-direction: column;
}

.back-button {
    font-family: 'Amatic SC', cursive;
    margin: 20px;
    font-size: 30px;
    width: min-content;
    left: 0;
    position: absolute;

}

.back-button-a {
    margin: 0;
    color: black;
}
.back-button-a:hover {
    color: wheat;
}

.writer1-input {
    border: none;
    border-bottom: 1px solid white;
    background-color: transparent;
    color: inherit;
    outline: none;
    width: inherit;
    font-family:inherit;
    font-size: 75%;
    text-align: center;
    caret-color: white;
}

.writer1-name {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    font-family: 'Amatic SC', cursive;
    font-size: 80px;
    font-variant: petite-caps;
    text-align: center;
}

.content-writer1-name {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

.writer1-title {
    color: wheat;
}

.butt-div {
    background-color: #627281;
    margin: 50px;
    display: flex;
    justify-content: center;
}

.butt {
    display: inline-block;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-weight: 200;
    text-decoration: none;
    user-select: none;
    padding: .5em 2em;
    outline: none;
    border: 1px solid;
    border-radius: 1px;
    transition: 0.2s;
    background: #627281;
    border-radius: 25px;
    } 
.butt:visited { color: white;}
.butt:hover { background: rgba(255,255,255,.2); }
.butt:active { background: white; }

.writer2-content, .ghost1-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 90%;
    width: 1000px;
}

.writer2-input, .ghost1-input {
    border: 2px solid #FCEDD2 ;
    background-color: rgba(255,255,255,.2) ;
    color: inherit;
    outline: none;
    width: 100%;
    height: 100%;
    font-family:inherit;
    text-align: left;
    caret-color: white;
    color: wheat;
    resize: none;
    border-radius: 15px;
    font-size: 20px;
}
.writer2-input-text, .ghost1-input-text {
    font-size: 20px;
}
.writer2-input-syn, .ghost12-input-syn {
    font-size: 18px;
}

.writer2-input-div, .ghost1-input-div {
    height: inherit;
    margin: 10px;
}
.writer2-input-syn-div, .ghost1-input-syn-div {
    width: 20%;
}
.writer2-input-text-div, .ghost1-input-text-div {
    width: 80%;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    height: 10%;
    background-color: #bfbdc0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Amatic SC', cursive;
    color: black;
    margin: 0px;
    font-size: 30px;
}
